<div class="card" style="padding: 3px; text-align: center;">
	<img src="{{ image }}" alt="" style="width:100%;max-height: 150px;min-height: 200px">
    <p><h1>{{nom}}</h1></p>
    <p style="font-weight: bold">{{ price }}</p>
    
</div>