
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#en">EN</a></li>
            <li><a data-toggle="pill" href="#fr">FR</a></li>
            <li><a data-toggle="pill" href="#de">DE</a></li>
        </ul>

        <div class="tab-content" style="border: solid 1px lightgray; padding: 5px;background-color: #fff;">
            <div id="en" class="tab-pane fade in active"  style="background-color: transparent; color:#000">
    	         {{  include("configuration/produits/produit-en.html.twig") }}
            </div>
            <div id="fr" class="tab-pane fade" style="background-color: transparent; color:#000">
                {{  include("configuration/produits/produit-fr.html.twig") }}
            </div>
            <div id="de" class="tab-pane fade" style="background-color: transparent; color:#000">
                {{  include("configuration/produits/produit-de.html.twig") }}
            </div>
        </div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();  
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
    initOffer();
    $('.produit_action_cb').click(function(e){
    	var value = this.checked;
    	var tfs = document.getElementsByClassName('produit_action_tf');
        for(var i = 0; i < tfs.length; i++){
        	var tf = tfs[i];
        	if(!value){
            	tf.value = "";
        	}
        	tf.disabled =  !value;
        }
        var cbs = document.getElementsByClassName('produit_action_cb');
        for(var i = 0; i < cbs.length; i++){
        	var cb = cbs[i];
        	cb.checked = value;
        }
    });
    $('.available').click(function(e){
        var availables = document.getElementsByClassName('available');
        for(var i = 0; i < availables.length; i++){
        	var available = availables[i];
        	available.checked = this.checked;
        }
     });

    function initOffer(){
    	var tfs = document.getElementsByClassName('produit_action_tf');
    	if(!$('.produit_action_cb').checked == true){
    		for(var i = 0; i < tfs.length; i++){
    			var tf = tfs[i];
            	tf.disabled =  true;
    		}
        }
		
     }
</script>