{% extends 'admin/admin-template.html.twig' %}

{% block body %}

    <div class="col-sm-2"></div>
	<div class="col-sm-8" style="background-color: #fff;">
	<p><i class="fa fa-info-circle" style="color:darkorange;margin: 20px 20px 0px 0px;">   {{ 'mma.editproduit.cancel'|trans }}</i></p>
	{{ include('configuration/produits/edit.html.twig' , {'produit': produit}) }}
    </div>
    <div class="col-sm-2"></div>
{% endblock %}
