<div id="tip{{ produit.id }}" style="width:700px; " class="hidden">
<div style="width:50%; float:left">
        	<h2 style="color:darkorange">produit.nom</h2>
        	<ul>
        		<li>Prix: roduit.price</li>
        		<li>produit.categorie</li>
        		<li>produit.etat</li>
        		<li>produit.$reference</li>
        	</ul>
</div>
<div style="width:50%; float:left">
        	<h2 style="color:darkorange">produit.nom</h2>
        	<ul>
        		<li>Prix: roduit.price</li>
        		<li>produit.categorie</li>
        		<li>produit.etat</li>
        		<li>produit.$reference</li>
        	</ul>
</div>
</div>