{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<p class="pull-left">Creer un nouveau mot de passe</p>
	</div>
	<div class="row divider"></div>
	<form action="/creer-un-nouveau-mot-de-pass" method="post">
		<div class="well">
		<div class="form-group">
				<label for="email">E-Mail</label> <input type="email"
					required="true" class="form-control" id="email"
					placeholder="l´e-mail de votre compte" name="email">
			</div>
			<div class="form-group">
				<label for="inputPays">Nouveau mot de passe</label> <input type="password"
					required="true" class="form-control" id="inputMotDePasse"
					placeholder="Nouveau mot de passe" name="motDePasse">
			</div>
			<div class="form-group">
				<label for="inputPays">Confirmez le mot de passe</label> <input
					type="password" required="true" class="form-control"
					id="confirmerMotDePasse" placeholder="Confirmez le mot de passe"
					name="confirmerMotDePasse">
			</div>
			<button class="btn" style="background-color: #33cc33; color: #fff"
				type="submit">Changer mon mot de passe</button>
		</div>
	</form>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/connection.js')}}"></script>
{% endblock %}