{% extends 'base.html.twig' %}

{% block body %}

	<div class="row alert alert-success">
		<p class="pull-left">Votre mot de pass a été changer avec succès</p>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/connection.js')}}"></script>
{% endblock %}