{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-9">
	<div class="col-lg-3"></div>
	<div class="col-lg-3"><b>{{ errorMessage }}</b></div>
	<div class="col-lg-3"></div>
</div>

{% endblock %}

