
<div id="creerRecetteModal" id="creer_recette_dialog"
	class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">creer une recette</h4>
			</div>
			<div class="modal-body">
				{{ form_start(recette) }}
				{{ form_widget(recette) }}
				<div class="modal-footer">
					<button type="submit" class="btn michou-btn">Creer</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
				{{ form_end(recette) }}
			</div>
		</div>
	</div>
</div>