{% extends 'base.html.twig' %}

{% block body %}
<div class="row alert alert-success" role="alert">
	<i class="fa fa-smile-o" style="font-size: 20px;"></i>
	L&acute;ouverture de votre compte &agrave; &eacute;t&eacute;
	&eacute;ffectu&eacute; avec succ&egrave;s
</div>
<div class="row">
	<div class="media">
    	<div class="media-left media-top">
				<div class="col-lg-12">
						<i class="fa fa-gift" style="font-size: 200px; color: #33cc33;"></i>
				</div>
				
		</div>
    	<div class="media-body media-center">
    	<br>
    	<br>
    		<p>Comme cadeau de bienvenu nous vous offrons ce coupon ce
			correspondant &agrave; une valeur de 5 &euro; que vous pouriez
			utiliser lors de votre prochain achat sur notre site</p>
			<div class="col-lg-12">
					<button class="btn" style="background-color: #33cc33; color: #fff;"> Accpeter mon cadeau  </button>
				</div>
    	</div>

	</div>
</div>
{% endblock %}

