{% extends 'base.html.twig' %}

{% block body %}
	<table>
		<tr>
			<td class="alert alert-success">Merci pour votre achat. Un Mail vous à été envoyé à l´adresse {{ app.session.get('compte').login.email }} veuillez le consulter pour les modalité de virement</td>
		</tr>
	</table>
{% endblock %}