
    	<table>
        	<tr>
        		<td colspan="3"><b>{{ 'mma.deliveryway.choosedeliveryway'|trans }}</b></td>
        	</tr>
        	<tr>
        		<td><input type="radio" name="gender" value="chronopost"
        			onclick="selectDeliveryWay(this.value)"></td>
        		<td align="left">Chronopost</td>
        	</tr>
        	<tr>
        		<td><input type="radio" name="gender" value="express"
        			onclick="selectDeliveryWay(this.value)"></td>
        		<td align="left">Express</td>
        	</tr>
        </table>
    


<script language="javascript"> 

		function selectDeliveryWay(way) {
			
				$(document).ready(function(){  
					$.ajax({  
	                    url:        '/add-delivery-way-to-session',  
	                    type:       'POST',   
	                    dataType:   'json',
	                    data:{'way':way},
	                    async:      true,  
	                    success: function(data, status) { 
	                    	 if(data.way != null){
			                    	$('#delivery-ay').attr('disabled',false);
				                }
	                    },  
	                    error : function(xhr, textStatus, errorThrown) {  
	               	 		alert('ERROR = '+ errorThrown+ textStatus);  
	                    }  
	    			});
				});
		}
   </script>
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/livraison.css') }}" />
<link rel="stylesheet" href="{{ asset('css/proceedpayement.css') }}" />
{% endblock %}

