{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">Mon compte</div>
	<div class="row divider"></div>
	<div class="row">
		<div class="col-lg-4"><button class="btn" style="height:40px; font-size: 20px"><span  class="fa fa-user"></span> Mes informations perso</button></div>
		<div class="col-lg-4"><button class="btn">Details de mes commandes</button></div>
		<div class="col-lg-4"><button class="btn">Mes Adresses</button></div>
	</div>
{% endblock %}
