
<div >
	<p> Chère client pour le changement de votre mot de passe veulliez confirmer votre compte en cliquant le lien ci dessous</p>
	<a href="http://localhost:8000/en/enter-nouvelles-donnees?email={{ email }}">{{ 'mma.messages.clickhiertoresetyourpassword'|trans }}</a>
</div>
